<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LaunchApplications.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="LaunchApplications.My.MySettings.SaveClipboardShowCommandsConnectionString"
      connectionString="Data Source=DESKTOP-UROO8T1;Initial Catalog=MyDatabase;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LaunchApplications.My.MySettings.MyDatabaseConnectionString"
      connectionString="Data Source=DESKTOP-UROO8T1;Initial Catalog=MyDatabase;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="SendKeys" value="SendInput"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <LaunchApplications.My.MySettings>
      <setting name="AppToRunWhenRestarting" serializeAs="String">
        <value>C:\Program Files (x86)\VoiceTeach\VoiceComputer\scripts\VoiceComputer.exe</value>
      </setting>
      <setting name="DragonXMLCommandsFileLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="AutomaticallyShowDragonCommands" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Temporary" serializeAs="String">
        <value>Data Source=f5ath01b5q.database.windows.net,1433;Initial Catalog=DevelopmentProjects;Persist Security Info=True;User ID=Mark;Password=Blackberry1!</value>
      </setting>
    </LaunchApplications.My.MySettings>
  </userSettings>
</configuration>
